<html>
<center><img src="/static/rbtx.png"></center>
<body>
<h2><center>Certificate Given Form</center></h2>
<form name="input" action="/certiprocess/" method="get">
Event: <SELECT name="event">
		<OPTION VALUE="IN">InspiralOn</OPTION>
		<OPTION VALUE="CR">Canyon Rush</OPTION>
		<OPTION VALUE="TR">Tremors</OPTION>
		<OPTION VALUE="TP">Transporter</OPTION>
		<OPTION VALUE="GA">Geo-Aware</OPTION>
		</SELECT>
	<br>
Team ID(only number):
<input type="number" value="" name="id" >
<input type="submit" value="Submit">
</form>
</body>
</html>
