<html>
<center><img src="/static/rbtx.png"></center>
<body>
<h2><center>CANYON RUSH SCORESHEET FORM(ROUND 2)</center></h2>
<form name="input" action="/scoreprocess/" method="get">
Team ID(only number):<input type = "number" name =  "id" >
<h4>To be Added</h4><br>
Number of Objects on platforms picked:<input type="number" name="objplatpick"><br>
Number of Objects on water surface picked:<input type="number" name="objwaterpick"><br>
Objects placed in Safezone:<input type="number" name="objsafe"><br>
<h4>To be Subtracted</h4><br>
Number of time outs:<input type="number" name="timeouts"><br>
Restarts:<input type="number" name="restarts"><br>
Number of collected objects that have fallen:<input type="number" name="objfallen">
Number of times the bot has fallen:<input type="number" name="botfallen">
Time Taken: <input type = "number" name = "runtimetaken" >
Remarks:<input type="text" name="remarks"><br>
	<br>
<input type="submit" value="Submit">
</form>
</body>
</html>
