<html>
<center><img src="/static/rbtx.png"></center>
<h2><center>Registration Portal</center></h2>
<body>
<form name="input" action="/data/" method="get">
Team Name:<input type="text" name="team_name"><br>
Common Address:<input type="text" name="address"><br>
<br>
<h4>Participant 1</h4>
Name: <input type="text" name="name1"><br>
College: <input type="text" name="college1"><br>
Email ID: <input type="email" name="email1"><br>
Phone No.: <input type="number" name="phone1" min="7000000000" max="9999999999"><br>
Study Year:<input type="text" name="year1"><br>
<h4>Participant 2</h4>
Name: <input type="text" name="name2"><br>
College: <input type="text" name="college2"><br>
Email ID: <input type="email" name="email2"><br>
Phone No.: <input type="number" name="phone2" min="7000000000" max="9999999999"><br>
Study Year:<input type="text" name="year2"><br>
<h4>Participant 3</h4>
Name: <input type="text" name="name3"><br>
College: <input type="text" name="college3"><br>
Email ID: <input type="email" name="email3"><br>
Phone No.: <input type="number" name="phone3" min="7000000000" max="9999999999"><br>
Study Year:<input type="text" name="year3"><br>
<h4>Participant 4</h4>
Name: <input type="text" name="name4"><br>
College: <input type="text" name="college4"><br>
Email ID: <input type="email" name="email4"><br>
Phone No.: <input type="number" name="phone4" min="7000000000" max="9999999999"><br>
Study Year:<input type="text" name="year4"><br>
    <br>
<h4>    Event: </h4>
<select name="event">
<option value="IN">InspiralOn</option>
<option value="CR">CanyonRush</option>
<option value="TR">Tremors</option>
<option value="TP">Transporter</option>
<option value="GA">GeoAware</option>
</select>
<input type="submit" value="Submit">
</form>
</body>
</html>