<html>
<center><img src="/static/rbtx.png"></center>
<body>
<h2><center>GEOAWARE SCORESHEET FORM</center></h2>
<form name="input" action="/scoreprocess/" method="get">
Team ID(only number):<input type = "number" name = "id">
<h4>To be Added</h4><br>
Number of Correct Turns:<input type="number" name="correctturn"><br>
Stopped Correctly at end of run:<input type="number" name="stopcorrect"><br>
Reached target zone:<input type="number" name="rtzone"><br>
<h4>To be Subtracted</h4><br>
Number of Wall Touches:<input type="number" name="walltouch"><br>
Timeouts:<input type="number" name="timeouts"><br>
Restarts:<input type="number" name="restarts"><br>
Remarks:<input type="text" name="remarks"><br>
	<br>
<input type="submit" value="Submit">
</form>
</body>
</html>
