<html>
<center><img src="/static/rbtx.png"></center>
<body>
	<br>
Welcome to the ROBOTIX 2014 Registration Portal. You can click on any of the following options. Each of them do as specified.<br> In cae of any problems give me a call at- Ayush garg: 9002297176<br><br>
To add another team:<a href="/register">Register new team</a><br>
To edit team details:<a href="/admin">Open Admin</a><br>
To see the Registered Participants event wise:<a href="/printev">View entire eventwise database of registered teams.</a><br>
To Judge events:<a href="/scoring">Add score to any of the teams in any of the rounds</a><br>
Promote Teams to Next Round:<a href="/promote">Specify the present status of a team.</a><br>
Mention if a certificate is given to the team:<a href="/certi">Mark as certificate given/not.</a><br>
</body>
</html>
