<html>
<center><img src="rbtx.png"></center>
<body>
<form name="input" action="/scoreinitial/" method="get">
Event: <SELECT name="event">
		<OPTION VALUE="IN">InspiralOn</OPTION>
		<OPTION VALUE="CR">Canyon Rush</OPTION>
		<OPTION VALUE="TR">Tremors</OPTION>
		<OPTION VALUE="TP">Transporter</OPTION>
		<OPTION VALUE="GA">Geo-Aware</OPTION>
		</SELECT>
	<br>
Round: <SELECT name="round">
		<OPTION VALUE="1">1</OPTION>
		<OPTION VALUE="2">2</OPTION>
		<OPTION VALUE="3">3</OPTION>
	</SELECT>
Enter ypur name please(just for reference):<input type="text" name="name"><br>
<input type="submit" value="Submit">
</form>
</body>
</html>
